.profileHeader{
    text-align: center;
    background: linear-gradient(#93d5fc, 50%, #e8e8e8);
}
.petProfilePic{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 50%/50%;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
}
.borderBottom{
    justify-content: center;
    border-bottom: solid 2px #8897a0 ;
    border-radius: 50%/50%;
}
.petName{
    font-weight: 700;
}
.about{
    text-align: center;
}
.info{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.profileBody{
    display: flex;
    justify-content: center;
    background-color: #e8e8e8;
    display: flex;
}
.leftPannel{
    width: 25%;
}

.infoCard{
    align-items: center;
    margin: 10px 5px 10px 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px; 
    border: 1px solid rgba(0,0,0,.125);
    word-wrap:break-word;
}
.rightPannel{
    width: 40%;
}
.createPost{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 10px 5px 0px 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px; 
    border: 1px solid rgba(0,0,0,.125);
    padding-left: 10px;
}
.postPic  img{
    max-width: 45px;
    max-height:45px;
    border-radius: 50%/50%;;
    margin: 5px 0px 5px 0px;;
}
.createPost .postInput{
    width:90%;
    display: flex;
    margin: auto;
}
.createPost .postInput button{
    text-align: left;
    width: 100%;
    border-radius: 20px;
}
.posts{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin: 10px 5px 5px 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px; 
    border: 1px solid rgba(0,0,0,.125);
    padding: 10px;
}
.postpic img{
    max-width: 45px;
    max-height:45px;
    border-radius: 50%/50%;;
    margin: 5px 0px 5px 0px;;
}
.postimg img{
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
