.HL {
    display: flex;
    justify-content: center;
    max-height: 300px;
    max-width: 100%;

}

.HL a {
    justify-content: center;
    align-items: center;
}

.HL img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    max-width: 100%;
    margin-right: 100px;
}