.propannelcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 5px 0px 5px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 5px; 
    border: 1px solid rgba(0,0,0,.125);
}
.singlepro{
    text-align: center;
    text-decoration: none;
}

.profilepannelpic{
    border-radius: 50%/50%;
    width: 100px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 60%);
    border: 3px solid #93d5fc;
}
a {
    color: #000000;
    text-decoration: solid;
}