.Nav{
    max-width:100%;
    height: 90px;
    background-color: #93d5fc;
    display: flex;
    box-shadow: 2px 1px 3px #618faa;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: all 0.3s ease-out;
}

.Nav a {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-right: 10px;
    padding-top: 10px;
}

.NavImg {
    display: flex;
    height: 30%;
    width: 20%;
    padding-top: 10px;
}